@import url('https://fonts.googleapis.com/css?family=Raleway');

body {
  font-family: 'Raleway', sans-serif;
  background-image: url("https://picsum.photos/1920/1920?image=1081");
  background-size: cover;
}

